.digg_pagination {
  cursor: default;
  display: flex;
  justify-content: center;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 0.0625rem; }
  .digg_pagination .disabled {
    color: #999999;
    border: 0.0625rem solid black; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #9963c0;
    color: white;
    border: 0.0625rem solid #9963c0; }
  .digg_pagination a {
    text-decoration: none;
    color:#e0d8ee ;
    border: 0.0625rem solid #9963c0; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    width: auto;
    background: #e0d8ee;
    color: #000;
    padding: 0.4em 0.6em;
    margin-bottom: 0.3em;
    height: min-content;
    text-align: center;
    border-radius: 5px;
    margin-right: 30px;
  }
    .digg_pagination .page_info b {
      color: white;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
