<div class="loading-overlay" data-update-collection-target="loadingOverlay" data-home-target="loadingOverlay">
  <div class="loading-content">
    <h2>LOADING</h2>
    <br>
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
