<div class="container mt-5">
  <%= render "releases/filter_options", most_collected_styles: @most_collected_styles%>
  <%= render "releases/pagination", releases: @releases%>
  <%= render "releases/releases_gallery", releases: @releases %>
  <%= render "releases/pagination", releases: @releases%>
</div>
